@use 'sass:color';
@use './styles/variables';

.container {
  display: grid;
  grid-template-areas: 'permissions examples' 'permissions-panel examples';
  grid-template-columns: 162px 1fr;
  gap: 1rem;
  padding: 1rem;
}

.permissions {
  grid-area: permissions;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;

  .permission {
    padding: 1rem;
    color: variables.$on-surface;
    border: 1px solid variables.$primary;
    border-radius: .25rem;
    cursor: pointer;

    &:hover {
      background-color: color.adjust(variables.$primary, $lightness: 10%);
      color: variables.$on-primary;
    }

    &--checked,
    &--checked:hover {
      background-color: variables.$primary;
      color: variables.$on-primary;
    }

    input[type=checkbox] {
      display: none;
    }
  }
}

.examples {
  grid-area: examples;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;

  .example {
    background-color: color.adjust(variables.$primary, $lightness: 30%);
    border: 1px solid variables.$primary;
    border-radius: .25rem;
    padding: 1rem;
    min-width: 252px;
  }
}
