<div class="container">
  <div class="permissions">
    @for (permission of permissions(); track $index) {
      <label
        class="permission"
        [ngClass]="{ 'permission--checked': permission[1] }"
        [attr.for]="'permission_' + $index"
      >
        <input
          type="checkbox"
          [attr.id]="'permission_' + $index"
          [checked]="permission[1]"
          (change)="updatePermission(permission[0], $event)"
        />
        {{ permission[0] }}
      </label>
    }
  </div>
  <div class="permissions-panel">
    @for (permission of permissions(); track $index) {
      <p>{{ permission[0] }}: {{ permission[1] }}</p>
    }
  </div>
  <div class="examples">
    @for (example of examples(); track $index) {
      <div class="example">
        <header>{{ example.title }}</header>
        <p *appHasPermissions="example.rules">
          Você possui permissão
        </p>
      </div>
    }
  </div>
</div>
